:root {
  --navbar-height: 75px;
  --sidebar-width: 250px;
}

/* LAYOUT CONTROLS SIDEBAR POSITION */
app-admin-sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  z-index: 900;
}

/* Make sure the sidebar element fills its host */
app-admin-sidebar .sidebar {
  height: 100%;
}


/* Main content */
.app-content {
  margin-left: var(--sidebar-width);
  margin-top: var(--navbar-height);
  padding: 24px;
  background: #fafbff;
  min-height: calc(100vh - var(--navbar-height));
}
@media (max-width: 991.98px) {
  app-admin-sidebar {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
  }

  .app-content {
    margin-left: 0;
    margin-top: var(--navbar-height);
  }
}
