.admin-layout {
  display: flex;
  margin-top: var(--navbar-height);
  min-height: calc(100vh - (var(--navbar-height) + 45px));
}

/* Sidebar */
app-teacher-sidebar {
  width: var(--sidebar-width);
  flex-shrink: 0;
  position: fixed;
  left: 0;
  top: calc(var(--navbar-height) + 45px);
  height: calc(100vh - (var(--navbar-height) + 45px));
}

/* Sidebar inner */
app-teacher-sidebar .sidebar {
  height: 100%;
}

/* Main content */
.app-content {
  flex: 1;
  padding: 24px;
  margin-left: var(--sidebar-width);
  background: #fafbff;
}
@media (max-width: 991.98px) {
  .admin-layout {
    flex-direction: column;
  }

  app-student-sidebar {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
  }

  .app-content {
    margin-left: 0;
  }
}
